* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

:root {
  --box-x: 0;
  --box-y: 0;
  --bg-color: black;
}

body {
  margin: 0;
  font-family: sans-serif;
  height: 500vh;
  background-color: var(--bg-color);
}

.redBox {
  position: fixed;
  background-color: #f50000;
  height: 30px;
  width: var(--box-x);
}
.boxMouse {
  position: fixed;
  top: var(--box-y);
  left: var(--box-x);
  width: 50px;
  height: 50px;

  background-image: url(../assets/pack2662\ 2.png);
  background-size: contain;
  pointer-events: none;
}
.buttons {
  position: relative;
  top: 50px;
}
